@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   color: var(--color-primary-tint);
   font-family: 'Source Sans Pro', sans-serif;
}

:root{
   --color-primary: #7289da;
   --color-primary-tint: #ffffff;
   --color-primary-shade: #99aab5;

   --color-secondary: #2c2f33;
   --color-secondary-shade: #23272a;
   
}

.button-style{
   cursor: pointer;
   border: none;
   outline: none;
   background-color: var(--color-primary);
   padding: 0.4rem 1rem;
   border-radius: 5px;
}
.input-style{
   padding: 0.4rem;
   border: none;
   background-color: var(--color-primary-shade);
   color: var(--color-primary-tint);
   border-radius: 5px;
}