.App{
   background-color: var(--color-secondary);
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

nav{
   user-select: none;
   display: flex;
   gap: 0.5rem;
   justify-content: center;
   padding: 1.2rem;
   background-color: var(--color-secondary-shade);
}
.nav-button{
   cursor: pointer;
}
.nav-button:hover{
   color: var(--color-primary-shade);
}

footer{
   display: flex;
   height: 5rem;
   background-color: var(--color-secondary-shade);
   margin-top: auto;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 0.2rem;
}
footer .footer-buttons{
   display: flex;
   gap: 1rem;
}