body{
   background-color: var(--color-secondary);
}

nav{
   display: flex;
   gap: 0.5rem;
   justify-content: center;
   padding: 1.2rem;
   background-color: var(--color-secondary-shade);
}
nav .nav-button{
   cursor: pointer;
}

footer{
   display: flex;
   height: 2rem;
   background-color: var(--color-secondary-shade);
}