header{
   font-family: var(--font-secondary);
}

/* Nav */
nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: var(--padding1);
   height: 10vh;
   width: 100%;
   z-index: 50;
   background-color: white;
}
nav ul{
   display: none;
}
nav .icons svg{
   fill: var(--color-main);
   height: 1.4rem;
   width: auto;
}
nav .icons{
   display: flex;
   gap: var(--gap1);
}

nav h1{
   padding-left: var(--padding1);
   font-size: 1.2rem;
   line-height: normal;
   word-spacing: 50rem;
   text-transform: none;
}

/* Hero */
header #hero{
   background-color: var(--color-main);
   height: 90vh;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   flex-direction: column;
   text-align: center;
   gap: var(--gap1);
   position: relative;
}
header #hero img{
   display: none;
}
header #hero p{
   width: 80%;
   line-height: 2rem;
}
header #hero button{
   padding: var(--padding1);
   color: white;
   background-color: var(--color-light);
   border: 0;
   cursor: pointer;
}
header #hero h3{
   word-spacing: 50rem;
}

@media (min-width: 700px){
   nav{
      position: fixed;
      height: 7vh;
   }
   nav ul{
      display: flex;
      gap: var(--gap1);
      font-weight: bold;
    }
   nav h1{
      word-spacing: normal;
      font-size: 1.5rem;
   }
   header #hero{
      background: linear-gradient(#645cffbb, #111111bb);
   }
   header #hero img{
      display: unset;
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1;
   }
   header #hero h3{
      font-size: 4.3rem;
      letter-spacing: 0.3rem;
   }
   header #hero p{
      width: 50vh;
   }
   header #hero button{
      border-radius: 5px;
   }
}

@media (min-width: 1100px){
    nav{
      justify-content: space-around;
    }
    nav h1{
      padding-left: 0;
    }
    header #hero{
      gap: var(--gap2);
    }
    header #hero h3{
      word-spacing: normal;
    }
}