#featured{
   display: flex;
   flex-direction: column;
   align-items: center;
}
#featured .cards-wrapper{
   display: flex;
   flex-direction: column;
   gap: inherit;
}
#featured .card-container{
   width: 100%;
}
#featured .card-container .image-container{
   position: relative;
}
#featured .card-container .image-container p{
   position: absolute;
   top: 1rem;
   padding: 0.2rem;
   background-color: var(--color-main);
}

#featured .card-container .description-container{
   display: grid;
   grid-template: 1fr 1fr / 1fr 1fr;
   padding: var(--padding1);
   margin-top: -0.5rem;
}
#featured .card-container .description-container h2{
   text-transform: none;
   grid-column: span 2;
}
#featured .card-container .description-container p:last-of-type{
   justify-self: flex-end
}
#featured .card-container .country-container{
   display: flex;
   align-items: center;
   fill: var(--color-main);
   color: var(--color-main);
   grid-row: 2;
}
#featured .card-container .country-container svg{
   height: auto;
   width: 1.5rem;
}

@media (min-width: 700px){
   #featured .cards-wrapper{
      column-gap: var(--gap1);
      display: grid;
      grid-template: 1fr 1fr / 1fr 1fr;
   }
}
@media (min-width: 1200px){
   #featured .cards-wrapper{
      grid-template: 1fr 1fr / 1fr 1fr 1fr;
   }
}