#append form{
   padding: 2rem;
   display: grid;
   background-color: rgb(192, 105, 95);
   color: white;
   gap: 1rem;
   grid-template: 1fr 1fr / 1fr 1fr;
   justify-items: center;
   width: 30rem;

}
#append form span{
   display: flex;
   flex-direction: column;
   text-align: center;
}
#append input{
   padding: 0.5rem;
   border-radius: 5px;
   border: none;
}
#append input[type="submit"]{
   color: inherit;
   background-color: black;
   grid-column: span 2;
   width: 7rem;
   cursor: pointer;
}