@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

#task3 main{
    width: 50rem;
    height: 35rem;
    display: flex;
    background-color: white;
    flex-direction: row;
    padding: 0;
    gap: 0;
    font-family: 'Montserrat';
}
:root{
    --task3-primary-color: #807182;
    --task3-secondary-color: #f9c7c2;
    --task3-third-color: #e5e5e5;
}

/* Global styling */
.form-container-task3 input, .custom-radio-container-task3{
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid var(--task3-third-color);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem 0;
}
/* Radios */
.form-container-task3 input[type="radio"]{
    display: none;
}
.custom-radio-container-task3 input[type="radio"]:checked+label{
    background-color: var(--task3-secondary-color);
}
.custom-radio-container-task3 label{
    border-radius: 5%;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    cursor: pointer;
    user-select: none;
}
.custom-radio-container-task3 label:hover{
    outline: 0.2px solid black;
}
/*  */
.form-container-task3 input::placeholder{
    padding-left: 0.3rem;
}
#task3 aside, #task3 form{
    padding: 3rem 2rem;
}

/* Aside */
.aside-container-task3{
    height: 100%;
    background-color: var(--task3-primary-color);
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
}
    .aside-container-task3 img{
        width: 15rem;
        height: auto;
        position: absolute;
        bottom: -2.1rem;
        right: 1.9rem;
    }
.logo-container-task3{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-size: 1.5em;
}
    .logo-icon-task3{
        background-color: var(--task3-secondary-color);
        padding: 0.6rem;
        border-radius: 50%;
        color: var(--task3-primary-color);
        transform: rotate(-50deg);
    }

/* Form */
.form-container-task3{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--task3-secondary-color);
}
.form-grid-task3{
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    row-gap: 0.8rem;
    column-gap: 2rem;
}
    .upload-photo-span-task3{
        background-color: var(--task3-third-color);
        padding: 0.5rem;
        border-radius: 50%;
    }
    .form-grid-task3 h1{
        grid-column: span 2;
    }
    .weight-selection-task3{
        grid-column-end: span 2;
    }

/* Next section */
.next-container-task3{
    position: absolute;
    height: 13%;
    background-color: white;
    width: 100%;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
    .next-container-task3 button{
        padding: 0.8rem 2.5rem;
        border-radius: 50px;
        border: none;
        cursor: pointer;
    }
    .next-container-task3 .back-button-task3{
        background-color: transparent;
        border: 0.5px solid var(--task3-secondary-color);
    }
    .next-container-task3 .next-button-task3{
        background-color: var(--task3-primary-color);
        color: white;
    }