.form-container-task2{
    width: 35rem;
    height: 35rem;
    background-color: #2f4f4f;
    border: 1px solid white;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 2rem;
    gap: 0.8rem;
}
.form-container-task2 input{
    height: 1.6rem;
    width: 13rem;
}
.form-container-task2 :required:invalid{
    border: 3px solid #ee82ee;
}
.form-container-task2 :required, #comment-container-task2{
    border: 3px solid green;
}
/* First input type */
.highlighted-word-task2{
    background-color: #ee82ee;
}
.input-container-task2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#id-input-task2{
    background-color: grey;
}
#id-input-task2::placeholder{
    color: black;
    font-size: 1.2em;
}
/* Second input type */
#age-container-task2{
    width: 6rem;
}
/* Third input type */
#comment-container-task2{
    width: 13rem;
    height: 3rem;
    max-width: 13rem;
    max-height: 3rem;
}
/* Terms and conditions */
.agree-terms-container-task2 input{
    height: auto;
    width: auto;
}
.agree-terms-container-task2{
    display: flex;
    gap: 0.2rem;
}
.agree-terms-container-task2 input:checked + label {
    color: rgb(51, 141, 214);  
}
/* Submit button */
.submit-button-task2{
    padding: 0.3rem 0.6rem;
    background-color: green;
    border: 2px solid black;
    color: white;
}
.submit-button-task2:hover{
    opacity: 0.8;
    cursor: pointer;
}
