@import url(./common.css);

#card form{
   min-width: 40rem;
   max-width: 50rem;
   max-height: 100%;
   border-radius: var(--border-radius);
   background-color: var(--primary-color);
   border: var(--border);
   display: grid;
   grid-template: 1fr / 1fr 1fr;
   row-gap: 1rem;
   padding: 2rem;
}

#card .info-container{
   padding: 0 2rem;
}
#card textarea{
   min-height: 4rem;
   resize: vertical;
   max-height: 6rem;
}
#card .submit-wrapper{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   gap: 0.5rem;
}

#card .photo-container{
   display: flex;
   align-items: center;
   justify-content: center;
}
#card .photo-container input{
   display: none;
}
#card .photo-container label{
   background-color: var(--secondary-color);
   cursor: pointer;
   display: flex;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0.5rem;
   fill: white;
}
#card .photo-container label svg{
   width: 2rem;
   height: 2rem;
}
#card form > div{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 0.6rem;
   grid-column: 1;
}

/* Generated card */
#generated-cards{
   border: var(--border);
   border-radius: var(--border-radius);
   grid-column: span 2;
   color: white;
   background-color: var(--primary-color);
   overflow-y: scroll;
   height: 30rem;
}
#generated-cards .generated-card-container{
   width: 40rem;
   height: fit-content;
   background-color: var(--primary-color-tint);
   border-radius: var(--border-radius);
   display: grid;
   grid-template: 1fr / 1fr 0.5fr;
   padding: 1rem;
   gap: 1rem;
}
#generated-cards .generated-card-container .image-container{
   position: relative;
   width: 100%;
   height: 15rem;
}
#generated-cards .generated-card-container img{
   object-fit: cover;
   object-position: top;
   width: 100%;
   height: 100%;
   border-radius: var(--border-radius);
   border: 5px solid var(--primary-color);
}
#generated-cards .generated-card-container .image-container span{
   position: absolute;
   bottom: 0;
   display: flex;
   justify-content: space-between;
   padding: 0.5rem;
   width: 100%;
   border-radius: var(--border-radius);
}
#generated-cards .generated-card-container .image-container span p{
   background-color: var(--primary-color-tint);
   padding: 0.5rem;
   border-radius: var(--border-radius);
}
#generated-cards .generated-card-container .content-container{
   align-self: flex-start;
   display: flex;
   gap: inherit;
   flex-direction: column;
   align-items: center;
   text-align: center;
}
#generated-cards .generated-card-container .content-container .title{
   margin: 0;
   padding: 0.2rem;
   width: 100%;
   background-color: var(--primary-color);
   border-radius: var(--border-radius);
}
#generated-cards .generated-card-container .content-container .description{
   background-color: var(--primary-color);
   padding: 0.2rem;
   border-radius: var(--border-radius);
   font-size: 1.05rem;
   text-align: left;
   padding: 0.5rem;
}