*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}
:root{
   --primary-color: #36393f;
   --primary-color-tint: #40444b;
   --secondary-color: #7289DA;
   --border-radius: 5px;
}

#card form{
   max-width: 50rem;
   max-height: 50rem;
   border-radius: var(--border-radius);
   padding: 2rem;
   background-color: var(--primary-color);
   border: 1px solid lightcoral;
   color: white;
   display: grid;
   grid-template: 1fr 1fr / 1fr 1fr;
   row-gap: 1rem;
}

#card .info-container{
   padding: 0 2rem;
}
#card input, #card textarea{
   border-radius: var(--border-radius);
   border: none;
   height: 2.3rem;
   padding: 0.8rem;
   background-color: var(--primary-color-tint);
   width: 100%;
   color: white;
}
#card textarea{
   min-height: 4rem;
   resize: vertical;
   max-height: 6rem;
}
#card input[type="submit"]{
   cursor: pointer;
   background-color: var(--secondary-color);
   padding: 0;
}
#card .submit-wrapper{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   gap: 0.5rem;
}

#card .photo-container{
   display: flex;
   align-items: center;
   justify-content: center;
}
#card .photo-container input{
   display: none;
}
#card .photo-container label{
   background-color: var(--secondary-color);
   cursor: pointer;
   display: flex;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0.5rem;
   fill: white;
}
#card .photo-container label svg{
   width: 2rem;
   height: 2rem;
}
#card form > div{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 0.6rem;
   grid-column: 1;
}

/* Generated card */
#card .generated-card-container{
   grid-column: span 2;
   width: 100%;
   height: 100%;
   background-color: var(--primary-color-tint);
   border-radius: var(--border-radius);
   display: grid;
   grid-template: 1fr / 1fr 0.5fr;
   padding: 1rem;
   gap: 1rem;
}
#card .generated-card-container .image-container{
   position: relative;
   width: 100%;
   height: 100%;
}
#card .generated-card-container img{
   object-fit: cover;
   width: 100%;
   height: 100%;
   border-radius: var(--border-radius);
   border: 5px solid var(--primary-color);
}
#card .generated-card-container .image-container span{
   position: absolute;
   bottom: 0;
   display: flex;
   justify-content: space-between;
   padding: 0.5rem;
   width: 100%;
   border-radius: var(--border-radius);
}
#card .generated-card-container .image-container span p{
   background-color: var(--primary-color-tint);
   padding: 0.5rem;
   border-radius: var(--border-radius);
}
#card .generated-card-container .content-container{
   align-self: flex-start;
   display: flex;
   gap: inherit;
   flex-direction: column;
   align-items: center;
   text-align: center;
}
#card .generated-card-container .content-container .title{
   margin: 0;
   padding: 0.2rem;
   width: 100%;
   background-color: var(--primary-color);
   border-radius: var(--border-radius);
}
#card .generated-card-container .content-container .description{
   background-color: var(--primary-color);
   padding: 0.2rem;
   border-radius: var(--border-radius);
   font-size: 1.05rem;
   text-align: left;
   padding: 0.5rem;
}