main{
   display: flex;
   justify-content: center;
}
#todo{
   margin-top: 10rem;
   width: 35rem;
   display: flex;
   flex-direction: column;
   gap: 2rem;
}
#todo .add-task-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1.2rem;
   background-color: white;
   padding: 2rem;
}
#todo .add-task-container form{
   display: flex;
   height: 2.2rem;
   width: 100%;
   border-radius: 5px;
}
#todo .add-task-container input[type="text"]{
   flex: 3;
   border: 1px solid lightgray;
   padding: 1rem;
}
#todo .add-task-container input[type="submit"]{
   flex: 1;
   border-top-right-radius: inherit;
   border-bottom-right-radius: inherit;
   background-color: var(--primary-color);
   color: white;
   border: none;
   cursor: pointer;
}

#todo .task-container{
   height: 5rem;
   background-color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 2rem;
}
#todo .task-container .utility-container{
   display: flex;
   gap: 0.5rem;
}
#todo .task-container svg{
   width: 1.5rem;
   height: 1.5rem;
   fill: black;
   cursor: pointer;
}