.section-headline-container{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.hide-button{
   padding: 0.5rem 1rem;
   cursor: pointer;
   width: 10rem;
}
.hide-content{
   display: none !important;
}
.stylize-center-content{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}
section{
   display: flex;
   flex-direction: column;
   padding: 2rem;
}
img{
   max-width: 20rem;
}

/* Task 1 */
#task1{
   background-color: hsl(0, 43%, 80%);
}
/* Task 2 */
#task2{
   background-color: hsl(0, 8%, 77%);
}
/* Task 3 */
#task3{
   background-color: hsl(0, 4%, 58%);
}