/* Task 1 */
#task1{
   background-color: hsl(0, 43%, 80%);
   display: flex;
   flex-direction: column;
   padding: 2rem;
}
.section-headline-container{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.hide-button{
   padding: 0.5rem 1rem;
   cursor: pointer;
   width: 10rem;
}