.section-headline-container{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.hide-button{
   padding: 0.5rem 1rem;
   cursor: pointer;
   width: 10rem;
}
.hide-content{
   display: none !important;
}
.stylize-center-content{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}
section{
   display: flex;
   flex-direction: column;
   padding: 2rem;
}
img{
   width: 100%;
   height: 25rem;
   object-fit: cover;
}

/* Task 1 */
#task1{
   background-color: hsl(0, 43%, 80%);
}
/* Task 2 */
#task2{
   background-color: hsl(0, 8%, 77%);
}
#task2 img{
   width: 20rem;
   height: 25rem;
}
/* Task 3 */
#task3{
   background-color: hsl(0, 4%, 58%);
}
/* Task 4 */
#task4{
   background-color: hsl(0, 10%, 57%);
}
#task4 .stylize-grid{
   margin-top: 4rem;
   display: grid;
   justify-content: center;
   gap: 1rem;
   grid-template: max-content repeat(2, max-content) / 1fr;
}
#task4 .stylize-grid h1{
   justify-self: center;
   text-align: center;
}
@media(min-width: 500px){
   #task4 .stylize-grid{
      grid-template: max-content repeat(2, max-content) / 1fr 1fr;
   }
   #task4 .stylize-grid h1{
      grid-column: span 2;
   }
}
@media(min-width: 800px){
   #task4 .stylize-grid{
      grid-template: max-content repeat(2, max-content) / repeat(3,1fr);
   }
   #task4 img{
      height: 30rem;
   }
   #task4 .stylize-grid h1{
      grid-column: span 3;
   }
}
@media(min-width: 1300px){
   #task4 .stylize-grid{
      grid-template: max-content repeat(2, max-content) / repeat(3,1fr);
   }
   #task4 img{
      height: 40rem;
   }
   #task4 .stylize-grid h1{
      grid-column: span 3;
   }
}