@media (min-width: 796px){
   /* Nav */
   nav > ul{
      flex-direction: row;
      font-size: 1.4em;
   }
   nav > ul li{
      padding: 0.8rem;
   }
   /* Hero */
   .hero{
      height: 30rem;
   }
   .hero p{
      font-size: 2.7rem;
      padding: 1.5rem;
   }

   /* Content */
   #content{
      flex-direction: row;
   }
   #content .card{
      grid-template: 1fr 0.1fr 1fr / 1fr;
   }
   #content .card img{
      grid-row: 1;
   }
   #content .card h1{
      grid-row: 2;
   }
   #content .card p{
      grid-row: 3;
   }
}