* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
[id]{
    scroll-margin-top: 5rem;
}

header{
    background-color: beige;
    height: 5rem;
    margin-bottom: 4rem;
    position: sticky;
    top: 0;
    z-index: 15;
}
.logo, .main-menu{
    display:inline-block;
}
.logo img{
    height: 5rem;
    width: auto;
}
.main-menu{
    float: right;
}
.main-menu ul{
    list-style-type: none;
}
.main-menu > ul > li{
    display: inline-block;
    margin-right: 0.5rem;
}
.main-menu > ul > li:hover{
    text-decoration: underline;
}
.main-menu > ul > li > a {
    text-decoration: none;
    font-size: 1.5em;
    line-height: 5rem;
}

.main-container{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-left: 5rem;
}

.boxmodel-example{
    /* Content */
    background-color: aquamarine;
    font-size: 2.3em;
    display: block;
    max-width: 25rem;
    text-align: center;
    height: 12rem;
    /* line-height: 12rem; */
    /* Padding */
    padding: 2rem;
    /* Border */
    border-style: double dashed;
    border-width: 1rem;
    border-color: black bisque;
    border-radius: 10%;
    /* Margin */
    margin: 2rem auto;
    /* Position */
    position: relative;
}

#background > div{
    height: 50vh;
}

.fonas1{
    background-color: cyan;
}
.fonas2{
    background-image: url('https://images.alphacoders.com/605/605799.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.fonas3 {
    position: relative;
    color: lightcoral;
    font-size: 2rem;
}
.fonas3 img{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    left: 0;
}
.fonas4{
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/047/838/061/large/francisco-segovia-bg-full-moon-firma.jpg?1648567318');
    background-size: contain;
    background-attachment: fixed;
}
.fonas5{
    background-image: linear-gradient(
        to bottom,
        blue 33%,
        orange 33% 66%,
        red 33%
    );
}
.fonas6{
    background-image: radial-gradient(
        circle at top left,
        yellow 33%,
        green 33% 66%,
        red 33%
    );
}
.fonas7{
    background-image: conic-gradient(
        red 36deg,
        orange 36deg 170deg,
        yellow 170deg
    );
}

.task1-container{
    display: flex;
    align-items: center;
    position: relative;
    height: 30rem;
    border: 6px solid rebeccapurple;
    font-size: 1.1em;
    max-width: 50rem;
    box-shadow: 1px 2px 1px 1px;
    margin-left: 10rem;
}
.task1-container img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.infobox-container{
    padding: 0.6rem;
    margin-left: 4rem;
    text-align: center;
    max-width: 20rem;
    background-color: antiquewhite;
    height: max-content;
    z-index: 5;
    border: 3px dashed lightcoral;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
}
.task1-container:hover .infobox-container{
    opacity: 1;
    transition-duration: 1s;
    border-radius: 5%;
    transform: scale(1.1);
}
.infobox-container h2{
    padding-top: 0.1rem;
    margin-bottom: 0.2rem;
}
@media (max-width: 480px){
    .task1-container{
        width: 100%;
        font-size: 0.8em;
        height: 17rem;
        justify-content: center;
        margin-left: 0;
    }
    .infobox-container{
        max-width: 17rem;
        margin-left: 0;
        border-radius: 0;
        justify-content: center;
        opacity: 1;
    }
    .infobox-container h2{
        padding-top: 0;
        margin: 0;
    }
    .infobox-container p{
        margin: 0.2rem;
    }
}