*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: var(--text-color);
}

:root{
   --primary-color: #2f3136;
   --secondary-color: #7289DA;
   --text-color: #e6e7e9;
}