* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   background-color: #574545;
}

/* Task 1 */
:root{
   --main-gap-size: 2rem;
   --task2-gap-size: 0.6rem;
}
#task1{
   background-color: #eeeeee;
   padding: 2rem;
   display: flex;
   flex-direction: column;
   gap: var(--main-gap-size);
   font-size: 2rem;
}

/* Make all text centered */
#task1 div{
   display: flex;
   justify-content: center;
   align-items: center;
}

/* Flex */
#task1 .flex{
   color: white;
   display: flex;
   height: 30rem;
   gap: var(--main-gap-size);
}
#task1 .flex-item1{
   width: 100%;
   height: 100%;
   background-color: red;
}
#task1 .flex-item2{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   gap: var(--main-gap-size);
}
#task1 .flex-item2 .big-cube{
   height: 100%;
   width: 100%;
   background-color: red;
}
#task1 .flex-item2 .two-cubes{
   display: flex;
   height: 100%;
   width: 100%;
   gap: var(--main-gap-size);
}
#task1 .flex-item2 .two-cubes div{
   height: 100%;
   width: 100%;
   background-color: red;
}

/* Grid */
#task1 .grid{
   display: grid;
   height: 30rem;
   grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
   gap: var(--main-gap-size);
}
#task1 .grid div{
   background-color: #86cccc;
   height: 100%;
}
#task1 .grid div:nth-child(1){
   grid-row: span 2;
   grid-column: span 2;
}
#task1 .grid div:nth-child(2){
   grid-column: span 2;
}

/* Task 2 */
#task2{
   display: flex;
   flex-wrap: wrap;
   gap: var(--main-gap-size);
   justify-content: space-evenly;
   align-items: center;
   padding: 2rem;
}

/* Alignments */
#task2 .alignment{
   width: 25rem;
   height: 25rem;
}
#task2 .alignment div{
   background-image: url("https://i1.sndcdn.com/avatars-000559738131-i80d5j-t500x500.jpg");
   background-position: center;
   background-size: cover;
}

/* 1 */
#task2 #one{
   gap: var(--task2-gap-size);
   display: grid;
   grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}
#task2 #one div:nth-child(2){
   grid-column: span 2;
}
#task2 #one div:nth-child(3){
   grid-column: span 2;
}
#task2 #one div:nth-child(6){
   grid-column: span 2;
}

/* 2 */
#task2 #two{
   gap: var(--task2-gap-size);
   display: grid;
   grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}
#task2 #two div:nth-child(2){
   grid-row: span 2;
}
#task2 #two div:nth-child(4){
   grid-row: span 2;
}
#task2 #two div:nth-child(5){
   grid-row: span 2;
}

/* 3 */
#task2 #three{
   gap: var(--task2-gap-size);
   display: grid;
   grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}
#task2 #three div:nth-child(1){
   grid-row: span 2;
   grid-column: span 2;
}

/* 4 */
#task2 #four{
   gap: var(--task2-gap-size);
   display: grid;
   grid-template: repeat(4, 1fr) / repeat(5, 1fr);
}
#task2 #four div:nth-child(1){
   grid-column: span 2;
}
#task2 #four div:nth-child(3){
   grid-column: span 2;
}
#task2 #four div:nth-child(5){
   grid-column: span 3;
   grid-row: span 2;
}
#task2 #four div:nth-child(9){
   grid-column: span 2;
}
#task2 #four div:nth-child(11){
   grid-column: span 2;
}

/* 5 */
#task2 #five{
   gap: var(--task2-gap-size);
   display: grid;
   grid-template: repeat(6, 1fr) / repeat(6, 1fr);
}
#task2 #five div:nth-child(1){
   grid-column: span 2;
   grid-row: span 2;
}
#task2 #five div:nth-child(2){
   grid-column: span 4;
   grid-row: span 2;
}
#task2 #five div:nth-child(3){
   grid-column: span 2;
   grid-row: span 2;
}
#task2 #five div:nth-child(6){
   grid-column: span 2;
   grid-row: span 2;
}
#task2 #five div:nth-child(9){
   grid-column: span 4;
   grid-row: span 2;
}
#task2 #five div:nth-child(10){
   grid-column: span 2;
   grid-row: span 2;
}

/* 6 */
#task2 #six{
   gap: var(--task2-gap-size);
   display: grid;
   grid-template: repeat(7, 1fr) / repeat(6, 1fr);
}
#task2 #six div:nth-child(1){
   grid-column: span 6;
   grid-row: span 3;
}
#task2 #six div:nth-child(2){
   grid-row: span 2;
}
#task2 #six div:nth-child(3){
   grid-row: span 2;
}
#task2 #six div:nth-child(4){
   grid-column: span 2;
   grid-row: span 4;
}
#task2 #six div:nth-child(5){
   grid-column: span 2;
   grid-row: span 4;
}
#task2 #six div:nth-child(6){
   grid-column: span 2;
   grid-row: span 2;
}

/* 7 */
#task2 #seven{
   gap: var(--task2-gap-size);
   display: grid;
   grid-template: repeat(4, 1fr) / repeat(3, 1fr);
}
#task2 #seven div:nth-child(1){
   grid-column: span 2;
   grid-row: span 2;
}
#task2 #seven div:nth-child(5){
   grid-column: span 2;
   grid-row: span 2;
}

/* 8 */
#task2 #eight{
   gap: var(--task2-gap-size);
   display: grid;
   grid-template: repeat(4, 1fr) / repeat(3, 1fr);
}
#task2 #eight  div:nth-child(1){
   grid-column: span 3;
   grid-row: span 2;
}
#task2 #eight  div:nth-child(3){
   grid-row: span 2;
}

/* 9 */
#task2 #nine{
   gap: var(--task2-gap-size);
   display: grid;
   grid-template: repeat(5, 1fr) / repeat(5, 1fr);
}
#task2 #nine div:nth-child(1){
   grid-column: span 2;
   grid-row: span 2;
}
#task2 #nine div:nth-child(5){
   grid-column: span 3;
   grid-row: span 2;
}
#task2 #nine div:nth-child(8){
   grid-column: span 2;
   grid-row: span 2;
}
#task2 #nine div:nth-child(9){
   grid-column: span 2;
   grid-row: span 2;
}

/* 10 */
#task2 #ten{
   gap: var(--task2-gap-size);
   display: grid;
   grid-template: repeat(6, 1fr) / repeat(6, 1fr);
}
#task2 #ten div:nth-child(1){
   grid-column: span 3;
   grid-row: span 2;
}
#task2 #ten div:nth-child(3){
   grid-row: span 2;
   grid-column: span 2;
}
#task2 #ten div:nth-child(5){
   grid-row: span 2;
   grid-column: span 2;
}
#task2 #ten div:nth-child(7){
   grid-row: span 2;
   grid-column: span 3;
}
#task2 #ten div:nth-child(9){
   grid-row: span 2;
   grid-column: span 3;
}
#task2 #ten div:nth-child(11){
   grid-row: span 2;
   grid-column: span 2;
}

/* 11 */
#task2 #eleven{
   gap: var(--task2-gap-size);
   display: grid;
   grid-template: 1fr 6rem / repeat(5, 1fr);
}
#task2 #eleven div:nth-child(1){
   grid-column: span 5;
}

/* 12 */
#task2 #twelve{
   display: flex;
   gap: var(--task2-gap-size);
}
#task2 #twelve div{
   flex: 1;
}

/* 13 */
#task2 #thirteen{
   display: flex;
   flex-direction: column;
   gap: var(--task2-gap-size);
}
#task2 #thirteen div{
   flex: 1;
}

/* 14 */
#task2 #fourteen{
   display: grid;
   gap: var(--task2-gap-size);
   grid-template: repeat(6, 1fr) / repeat(4, 1fr);
}
#task2 #fourteen div:nth-child(3){
   grid-row: span 3;
}
#task2 #fourteen div:nth-child(5){
   grid-column: span 2;
   grid-row: span 2;
}
#task2 #fourteen div:nth-child(8){
   grid-row: span 3;
}
#task2 #fourteen div:nth-child(10){
   grid-column: span 2;
   grid-row: span 3;
}

/* 15 */
#task2 #fifteen{
   display: flex;
   flex-direction: column;
   gap: var(--task2-gap-size);
}
#task2 #fifteen > div{
   display: flex;
   height: 100%;
   gap: var(--task2-gap-size);
   background-color: transparent;
   background-image: none;
}
#task2 #fifteen .row3 div{
   flex: 1;
}
#task2 #fifteen .row4 div{
   flex: 1;
}

/* 16 */
#task2 #sixteen{
   display: flex;
   flex-direction: column;
   gap: var(--task2-gap-size);
}
#task2 #sixteen .whole-row{
   flex: 1;
}
/* Triplex */
#task2 #sixteen .triplex-row-wrapper{
   display: flex;
   flex: 1;
   gap: var(--task2-gap-size);
   background-color: transparent;
   background-image: none;
}
#task2 #sixteen .triplex-row{
   display: flex;
   gap: var(--task2-gap-size);
   flex: 1;
   background-color: transparent;
   background-image: none;
}
#task2 #sixteen .triplex-row .single{
   flex: 1;
}
#task2 #sixteen .triplex-row .doubled{
   flex: 1;
   background-color: transparent;
   background-image: none;
   display: flex;
   flex-direction: column;
   gap: var(--task2-gap-size);
}
#task2 #sixteen .triplex-row .doubled div{
   flex: 1;
}