#task3{
   display: flex;
   flex-flow: wrap;
   justify-content: space-evenly;
   margin: 7rem;
   gap: 15rem;
}

/* Grid 1 */
#task3 .grid1{
   width: 40rem;
   height: 35rem;
   font-size: 1.2rem;
   display: grid;
   grid-template: 0.5fr repeat(6, 1fr) / repeat(4, 1fr);
}
#task3 .grid1 div{
   display: flex;
   justify-content: center;
   align-items: center;
}
#task3 .grid1 .header{
   background-color: #0f1629;
   color: white;
}
#task3 .grid1 .menu{
   background-color: #ef3d4d;
   color: white;
   grid-column: span 3;
}
#task3 .grid1 .hero{
   background-color: #4c86c6;
   grid-column: span 4;
   grid-row: span 3;
   color: white;
}
#task3 .grid1 .main{
   background-color: #24344b;
   color: white;
   grid-column: span 2;
   grid-row: span 2;
}
#task3 .grid1 .empty{
   grid-row: span 2;
   background-color: white;
}
#task3 .grid1 .image{
   background-color: #b6d7d9;
   color: black;
}
#task3 .grid1 .extra{
   background-color: #4ab490;
   color: black;
}
#task3 .grid1 .banner{
   background-color: #ffd169;
   color: black;
   grid-column: span 4;
}

/* Tablet */
@media (max-width: 1020px){
   #task3 .grid1 .header{
      grid-column: span 5;
   }
   #task3 .grid1 .menu{
      grid-column: 1;
      grid-row: 4 / span 5;
   }
   #task3 .grid1 .hero{
      grid-row: 2 / span 2;
   }
   #task3 .grid1 .main{
      grid-column: 2 / span 4;
   }
   #task3 .grid1 .empty{
      display: none;
   }
   #task3 .grid1 .banner{
      grid-row: 6;
   }
   #task3 .grid1 .extra{
      grid-column: 2;
      grid-row: 7;
   }
   #task3 .grid1 .image{
      grid-column: 3 / span 2;
   }
}
/* Phone */
@media (max-width: 700px){
   #task3 .grid1{
      grid-template: 0.5fr 0.5fr 1fr 1fr 0.5fr 0.5fr 0.5fr / 10rem;
      justify-content: center;
   }
   #task3 .grid1 .header{
      grid-column: 1;
   }
   #task3 .grid1 .menu{
      grid-column: 1;
      grid-row: 2 / span 1;
   }
   #task3 .grid1 .hero{
      grid-column: 1;
      grid-row: span 1;
   }
   #task3 .grid1 .main{
      grid-column: 1;
      grid-row: span 1;
   }
   #task3 .grid1 .banner{
      grid-column: 1;
      grid-row: 5;
   }
   #task3 .grid1 .extra{
      grid-column: 1;
      grid-row: 6;
   }
   #task3 .grid1 .image{
      grid-column: 1;
      grid-row: 7;
   }
}

/* Grid 2 */
#task3 .grid2{
   display: grid;
   grid-template: 0.3fr repeat(4, 1fr) / repeat(4, 1fr);
   width: 100%;
   height: 50rem;
   background-color: black;
   gap: 0.5rem;
}
/* Letters */
#task3 .grid2 .letters-container{
   display: flex;
   grid-column: span 4;
}
#task3 .grid2 .letters-container div{
   flex: 1;
   border: 1px solid #061385;
   outline: 1px solid #080f72;
   color: #6deef0;
   display: flex;
   justify-content: center;
   align-items: center;
}
/* Numbers */
#task3 .grid2 .number{
   color: #6deef0;
   border: 1px solid #671a6d;
   outline: 1px solid #b02cba;
   display: flex;
   justify-content: center;
   align-items: center; 
}
#task3 .grid2 div:nth-child(2){
   grid-column: span 3;
}
#task3 .grid2 div:nth-child(3){
   grid-row: span 3;
}
#task3 .grid2 div:nth-child(4){
   grid-column: span 2;
}
#task3 .grid2 div:nth-child(5){
   grid-row: span 2;
}
#task3 .grid2 div:nth-child(6){
   grid-row: span 2;
}
#task3 .grid2 div:nth-child(8){
   grid-column: span 3;
}

/* Grid 3 */
#task3 .grid3{
   width: 35rem;
   background: #70ad47;
   height: 50rem;
   padding: 0 3rem;
   display: grid;
   grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}
#task3 .grid3 div{
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid black;
}
/* Colors */
#task3 .grid3 .blue{
   grid-column: 1 / end;
   grid-row: 1;
   border: 0;
   background-color: #4472c4;
}
#task3 .grid3 .orange{
   border: 0;
   background-color: #ffc000;
}
#task3 .grid3 .gray{
   border: 0;
   background-color: #a5a5a5;
}
#task3 .grid3 .hard-gray{
   border: 0;
   background-color: #44546a;
}
#task3 .grid3 .light-gray{
   border: 0;
   background-color: #e7e6e6;
}
/* Elements */
#task3 .grid3 .logo{
   grid-column: 1 / span 4;
   grid-row: 1 / 2;
}
#task3 .grid3 .links{
   grid-column: -1;
   grid-row: 1 / 2;
}

#task3 .grid3 .title{
   grid-column: 2;
   grid-row: 2;
}

/* Grid 4 */
#task3 .grid4{
   width: 50rem;
   height: 40rem;
   background-color: white;
   display: grid;
}