* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

h1, a{
    color: white;
    font-family: primary-font;
    letter-spacing: 0.1rem;
    -webkit-text-stroke-color: black;
}
a{
    -webkit-text-stroke-width: 1px;
}
h1{
    letter-spacing: 0.2rem;
    -webkit-text-stroke-width: 0.5px;
}
p {
    font-family: secondary-font;
}

@font-face {
    font-family: primary-font;
    src: url('../assets/Saiyan-Sans.ttf');
}
@font-face {
    font-family: secondary-font;
    src: url('../assets/Bronova Regular.otf');
}

:root{
    --primary-color: #23272aee;
    --secondary-color: #d45929;
    --third-color: black;

    --section-background-primary-color: #23272a;
    --section-background-secondary-color: #2c2f33;

    --hero-margin: 13rem;
}

/* Global styles */
.button-style{
    background-color: var(--secondary-color);
    border-radius: 5%;
    padding: 0.4rem 1rem;
    text-decoration: none;
    -webkit-user-drag: none;
    cursor: pointer;
    font-family: primary-font;
    font-size: 2.3em;
    user-select: none;
}
.button-style:hover{
    outline: 2px solid white;
}
.wrapper-style{
    box-shadow: 1px 1px 1px 1px white;
    border-radius: 10%;
}
.text-background-style{
    border: 5px solid white;
    padding: 0.5rem;
    background-color: var(--secondary-color);
    clip-path: polygon(50% 0%, 100% 0, 97% 89%, 0 100%, 0 0);
    cursor: auto;
}

/* Navbar */
.navbar-container{
    height: 4.5rem;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}
.logo-container img{
    height: 2.5rem;
    width: auto;
}
.menu-container > ul{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
.decorative-menu-icon{
    width: 1.2rem;
    margin-right: 0.5rem;
    opacity: 0;
}
.menu-container ul > li:hover .decorative-menu-icon{
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

/* Hero */
.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--hero-margin);
    text-align: center;
}
.hero-container img{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}
.hero-content-background{
    flex-direction: column;
    background-color: var(--primary-color);
    font-size: 2em;
    padding: 3rem;
    max-width: 70rem;
    border-radius: 5%;
    position: relative;
    overflow: hidden;
}
.hero-content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}
.hero-content-wrapper h1{
    font-family: primary-font;
    padding: 1rem 2rem;
}
.hero-content-wrapper p{
    color: white;
    width: 35rem;
    z-index: 5;
    font-size: 0.8em;
    margin-bottom: 1rem;
}
.cta-button{
    width: 25rem;
    height: 6rem;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}
.hero-avatar-container{
    position: absolute;
    z-index: 0;
    width: 16rem;
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
}
.hero-avatar-container img{
    width: 95%;
    height: auto;
}

/* Results section */
.results-container{
    background-color: var(--section-background-primary-color);
    height: 25rem;
    width: 100%;
    margin-top: var(--hero-margin);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px dashed black;
    gap: 2rem;
}
.results-card-wrapper{
    background-color: var(--primary-color);
    width: 24rem;
    height: 23rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
    flex-direction: column;
    color: white;
}
#results-icon{
    font-size: 0.6em;
}
.results-card-wrapper img{
    width: 9.5rem;
}
.results-card-wrapper h1{
    font-family: primary-font;
    font-size: 2.1em;
    margin-bottom: 0.7rem;
}
.results-card-wrapper p{
    font-family: secondary-font;
    color: var(--secondary-color);
    font-size: 1.5em;
}

/* About us section */
.about-us-container{
    width: 100%;
    height: 35rem;
    background-color: var(--section-background-secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-us-container img{
    max-width:50rem;
    max-height:30rem;
}
.about-us-content-wrapper{
    width: 45rem;
    padding: 5rem 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.8em;
}
.about-us-content-wrapper p{
    color: white;
}