* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

h1, h2, a{
    color: white;
    text-shadow: 1px 1px 5px black;
}
h1, a{
    font-family: primary-font;
    letter-spacing: 0.1rem;
}
h1{
    font-family: secondary-font;
    font-size: 1.7em;
}
h2{
    font-family: secondary-font;
    font-size: 1.2em;
}
p {
    font-family: secondary-font;
    font-size: 1.3em;
}
a {
    font-size: 2em;
}

@font-face {
    font-family: primary-font;
    src: url('../assets/Saiyan-Sans\ Right\ Oblique.ttf');
}
@font-face {
    font-family: secondary-font;
    src: url('../assets/homeblock.ttf');
}

:root{
    --primary-color: #d45929;
    --secondary-color: #111111cc;
    --third-color: black;

    --hero-margin: 12.5rem;
}

/* Global styles */
.button-style{
    background-color: var(--primary-color);
    border-radius: 5%;
    padding: 0.4rem 1rem;
    text-decoration: none;
    -webkit-user-drag: none;
    cursor: pointer;
    font-family: primary-font;
    user-select: none;
}
.button-style:hover{
    outline: 2px solid white;
}
.wrapper-style{
    background-color: var(--secondary-color);
    box-shadow: 1px 1px 1px 1px white;
    border-radius: 10%;
}
.text-background-style{
    border: 5px solid white;
    padding: 1.5rem 2rem;
    background-color: var(--primary-color);
    clip-path: polygon(50% 0%, 100% 0, 97% 89%, 0 100%, 0 0);
    cursor: auto;
}
.seperator-wrapper-style{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 3rem;
    background-color: var(--primary-color);
    margin-bottom: -2rem;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 54%);
    z-index: 20;
}
.side-wrapper-1-style{
    background-color: var(--primary-color);
    width: 30rem;
    height: 40%;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    margin-right: 2rem;
}
.side-wrapper-2-style{
    width: 20rem;
    height: 30%;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    background-color: var(--primary-color);
}
.character-style{
    max-width:50rem;
    max-height:30rem;
}

/* Header */
header{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner {
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}

/* Navbar */
.navbar-container{
    height: 4.5rem;
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    position: absolute;
    top: 0;
    z-index: 50;
}
.logo-container img{
    height: 2.5rem;
    width: auto;
}
.menu-container > ul{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
.decorative-menu-icon{
    width: 1.2rem;
    margin-right: 0.5rem;
    opacity: 0;
}
.menu-container ul > li:hover .decorative-menu-icon{
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

/* Hero */
.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-content-background{
    flex-direction: column;
    padding: 3rem;
    width: 42rem;
    border-radius: 5%;
    position: relative;
    overflow: hidden;
}
.hero-content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}
.hero-content-wrapper p{
    color: white;
    width: 35rem;
    z-index: 5;
    margin: 1rem 0;
}
.cta-button{
    width: 25rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    font-size: 3.2em;
}
.hero-avatar-container{
    position: absolute;
    z-index: 0;
    width: 16rem;
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
}
.hero-avatar-container img{
    width: 95%;
    height: auto;
}

/* Results section */
.results-container{
    background-color: var(--section-background-primary-color);
    height: 45rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.results-headline{
    width: 40rem;
    text-align: center;
}
.results-cards-container{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.results-card-wrapper{
    width: 28rem;
    height: 27rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 2rem;
    flex-direction: column;
}
#results-icon{
    font-size: 0.6em;
}
.results-card-wrapper img{
    width: 9.5rem;
}
.results-card-wrapper h2{
    margin-bottom: 0.7rem;
}
.results-card-wrapper p{
    font-family: secondary-font;
    color: var(--primary-color);
    text-shadow: 1px 1px 3px black;
}

/* About us section */
.about-us-container{
    width: 100%;
    height: 35rem;
    background-color: var(--section-background-primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.about-us-content-wrapper{
    width: 35rem;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 0.5rem;
}
.about-us-content-wrapper p{
    color: white;
}

/* Merch section */
.merch-container{
    position: relative;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--section-background-secondary-color);
    gap: 2rem;
}
.merch-content-wrapper{
    width: 40rem;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.merch-second-side-wrapper{
    transform: rotate(180deg);
}