@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Grid example */
#grid-example{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2.2fr 0.3fr;
  gap: 1rem;
  margin: 5rem;
}
#grid-example > div{
  background-color: crimson;
}

/* Grid example 2 */
.grid-container2{
  display: grid;
  grid-template: repeat(500, 1px) / repeat(1000, 1px);
}
.grid-container2 .header{
  grid-area: 1 / 1 / 80 / -1;
  background-color: black;
}
.grid-container2 .main{
  grid-area: 80 / 150 / 420 / -1;
  background-color: red;
}
.grid-container2 .aside{
  grid-area: 80 / 1 / 420 / 150;
  background-color: aqua;
}
.grid-container2 .footer{
  grid-area: 420 / 1 / -1 / -1;
  background-color: aquamarine;
}

/* Grid example 3 */
.grid-container3{
  display: grid;
  grid-template: repeat(10, 30px) / repeat(10,30px);
}

/* Task 1 */
.task1{
  font-family: 'Roboto', sans-serif;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 2rem;
}
.task1 .poster-container{
  display: flex;
  background-color: #f5f5f5;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  flex-direction: column;
}
.task1 img{
  height: 20rem;
  width: 20rem;
  object-fit: cover;
}
/* Cards */
.task1 .card-container{
  display: grid;
  grid-template: 5rem / 5rem 1fr;
}
.task1 .card-overlay{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.8rem;
  width: 20rem;
  height: 20rem;
  background-color: #ffffffee;
  padding: 3rem 1.7rem;
}
.task1 .continue-reading{
  font-size: 0.6em;
  color: #cbcbcb;
}
.task1 .cards-wrapper{
  display: flex;
  column-gap: 0.2rem;
}
/* Variations */
.task1 .image-right-variation{
  grid-column-start: 2;
}
.task1 .image-left-variation{
  grid-column-start: 1;
}
.task1 .left-variation{
  grid-column-start: 1;
}
.task1 .right-variation{
  grid-column-start: 2;
  grid-row-start: 2;
}