@import url("./main.css");
@import url("./header.css");
@import url("./portfolio.css");

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

:root{
   --padding-sides: 0 4rem;
   --padding-vertical: 5rem;
}

@media (min-width: 1000px){
   :root{
      --padding-sides: 0 18rem;
   }
}