#services{
   display: flex;
   gap: var(--gap2);
   background-color: var(--color-bg-secondary);
   flex-direction: column;
   align-items: center;
   text-align: center;
}
#services .icon-wrapper{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--color-main);
   width: 3.2rem;
   height: 3.5rem;
}
#services .icon-wrapper svg{
   width: 60%;
   height: auto;
}
#services .card{
   display: flex;
   flex-direction: column;
   gap: var(--gap1);
   align-items: center;
}
#services .card p{
   width: 80%;
}