header{
   overflow: hidden;
   position: relative;
}
header nav{
   padding: 1.5rem;
}
header nav ul{
   display: none;
}

header .hero{
   display: grid;
   grid-template: max-content / 83%;
   overflow: hidden;
   padding: var(--padding-vertical) 0;
   padding-right: 5rem;
   padding-left: var(--padding-horizontal);
   gap: var(--gap);
}
header .hero img{
   width: 26rem;
   height: auto;
   position: absolute;
   right: -12rem;
   z-index: -1;
   top: 3rem;
}
header .hero .content{
   display: flex;
   flex-direction: column;
   gap: var(--gap);
}

header .below-copy{
   display: flex;
   flex-direction: column;
   gap: var(--gap);
   padding: 0 var(--padding-horizontal);
   padding-top: 5rem;
   padding-bottom: var(--padding-vertical);
   background: linear-gradient(to right, 
      var(--color-pink), 
      var(--color-orange), 
      var(--color-orange-light));
}
header .below-copy p{
   color: black;
}

header .featured-logos-container{
   display: grid;
   grid-template: 1fr 1fr / 1fr 1fr;
   padding: var(--padding-vertical) var(--padding-horizontal);
   gap: var(--gap);
   align-items: center;
   padding-bottom: 0;
}
header .featured-logos-container img{
   max-width: 8rem;
   height: auto;
}
header .featured-logos-container img:nth-child(3n){
   justify-self: end;
}
header .featured-logos-container img:nth-child(2){
   display: none;
}
header .featured-logos-container img:nth-child(5){
   display: none;
}

@media (min-width: 700px){
   header{
      border-top-left-radius: 20px;
   }
   header nav{
      display: flex;
      justify-content: space-between;
   }
   header nav ul a{
      text-decoration: none;
      cursor: pointer;
   }
   header .hero{
      grid-template: 30rem / 50% 50%;
   }
   header .hero .content{
      grid-row: 1;
   }
   header .hero img{
      top: 8rem;
   }
   header .below-copy{
      padding: 3rem;
      padding-top: 7rem;
      border-radius: 15px;
   }
}
@media(min-width: 900px){
   header nav ul{
      list-style: none;
      display: flex;
      gap: var(--gap);
   }
}
@media (min-width: 1000px){
   header .featured-logos-container{
      display: flex;
      justify-content: space-between;
      padding-right: 0;
      padding-left: 0;
   }
   header .featured-logos-container img:nth-child(1){
      display: none;
   }
   header .featured-logos-container img:nth-child(3n){
      justify-self: flex-start;
   }
   header .featured-logos-container img:nth-child(2){
      display: unset;
   }
   header .featured-logos-container img:nth-child(5){
      display: unset;
   }
}
@media (min-width: 1300px){
   header .hero img{
      width: 35rem;
      height: 35rem;
      right: -1rem;
   }
}