@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');

@import url("header.css");
@import url("common.css");
@import url("featured.css");
@import url("subscribe.css");
@import url("footer.css");

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html{
   font-family: 'Poppins', sans-serif;
}

.highlight-paragraph{
   color: var(--color-pink);
   text-transform: uppercase;
   font-weight: bold;
}
button{
   margin-top: 0.5rem;
   padding: 1.2rem;
   width: 10rem;
   border-radius: 50px;
   font-weight: bold;
   font-size: 1.1rem;
   border: 0;
   color: black;
   background-color: transparent;
   background: linear-gradient(white, white) padding-box,
      linear-gradient(to right, var(--color-pink), var(--color-orange), var(--color-orange-light)) border-box;
   border: 4px solid transparent;
}
h1{
   font-size: 2.3rem;
}
h2{
   font-size: 1.8rem;
}
p{
   font-size: 1.1rem;
   color: var(--color-text);
}
a{
   color: var(--color-text-highlight);
}

@media (min-width: 700px){
   body{
      padding: 2rem;
   }
}
@media (min-width: 1100px){
   body{
      padding: 4rem;
   }
}
