@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');

:root{
   /* Colors */
   --color-main: #645cff;
   --color-light: #807af8;
   --color-bg-secondary: #f8fbfc;
   --color-secondary: #222222;

   --padding-section-vertical: 3rem;
   --padding-section-horizontal: 1.5rem;
   --padding1: 1rem;
   --padding2: 2rem;

   --gap1: 1rem;
   --gap2: 2rem;
   --gap3: 3rem;

   --font-main: 'Poppins', sans-serif;
   --font-secondary: 'Lato', sans-serif;
}

.span-highlight{
   color: var(--color-main);
}
.box-shadow1{
   box-shadow: rgba(0, 0, 0, 0.15) 0px 1.20px 2.6px;
}